apiVersion: v1
kind: Service
metadata:
  name: {{ include "cilantro.fullname" . }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - targetPort: {{ .Values.service.port }}
      port: {{ .Values.service.port }}
  selector:
    app: {{ include "cilantro.fullname" . }}